/* Add your custom styles here */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.logo {
  /* Add your logo styling here */
}

nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

main {
  padding: 20px;
}

/* Additional styles */
.tab-container {
  margin-top: 20px;
}

.stock-details {
  margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .col-md-2 {
    margin-bottom: 20px;
  }
}


/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 10px 0;
}
